ion-content{
    --background: #4c037c;
      
   }
   
   ion-button{
      --background: #4c037c;
       color: #ffffff; 
       align-items: left;
       
   }
   
   ion-header {
       background: #4c037c;
       display:flex;
       color: #ffffff;
       font-size: 7vw;
       align-items: center;
      
   }
   .form {
       align-items: center;
   }
   
   .clubTitle {
       align-items: center;
   }
    
   .clubContainer{
       height:auto;
       bottom: 0;
       padding: 1rem;
       align-items: center;
       border-radius: 30px;
   }
   ion-textarea {
       align-items: center;
   }
   
   .inputID {
       align-items: center;
       justify-content: center;
       text-align: center;
       width: 55%;
       //margin-left: 1%;
       
       background: #f0f1f8;
       border-radius: 7px;
       
      //padding: 0 10px;
       font-size: 16px;
       margin-bottom: 7px;
   }
    
   
   .centered-form {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       color: #4c037c;
       margin-top: 10px;
   }
   
   .clubDescription{
       color: white;
       font-size: 0.75rem;
       padding: 0.7rem;
       background-color: #4c037c;
       width: 100%;
       border-radius: 30px;
       //margin-top: 7px;
   }

   
   swiper-container {
       --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #80008000);
       --swiper-pagination-color: var(--ion-color-primary, #D4AF37);
       border-radius: 25px;
      
     }
     
     swiper-slide {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
     }
   
   
   
     .cardDescription {
       background-color: #4c037c;
       padding: 10px;
       color: white;
       text-align: center;
     }
   
     .vikingPic{
       width: 3rem;
       height: 3rem;
       margin-bottom: 10px;
       margin-left: 5%;
     }
   
   ion-list{
    margin-top: 10px;
   }